html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
dl,
dt,
dd,
blockquote,
pre,
button,
input {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
}

.defaultPopupBtn {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.defaultPopupBtn:hover {
  background-color: #cfcfcf;
}
.defaultPopupBtn:active {
  background-color: #b0b0b0;
}

.defaultPopupCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: flex-start;
}
.defaultPopupCont.active {
  display: flex;
}
.defaultPopupCont .defaultPopupWrap {
  background-color: #fff;
  width: 500px;
  margin-top: 48vh;
  transform: translateY(-50%);
  padding: 24px;
}
.defaultPopupCont .defaultPopupWrap .titleWrap {
  position: relative;
  padding-bottom: 16px;
}
.defaultPopupCont .defaultPopupWrap .closeBtn {
  position: absolute;
  background: transparent;
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
}
.defaultPopupCont .defaultPopupWrap .closeBtn .las::before {
  display: block;
  width: 16px;
  height: 16px;
}
.defaultPopupCont .defaultPopupWrap h6 {
  font-size: 24px;
}
.defaultPopupCont .defaultPopupWrap .contentText {
  padding-top: 24px;
}
.defaultPopupCont .defaultPopupWrap .checkboxWrap {
  display: flex;
  align-items: center;
  margin-top: 32px;
  gap: 8px;
}
.defaultPopupCont .defaultPopupWrap .checkboxWrap #neverWatch {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.defaultPopupCont .defaultPopupWrap .checkboxWrap .checkboxLabel {
  cursor: pointer;
}

.btnCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}

.animationModalBtn {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.animationModalBtn:hover {
  background-color: #cfcfcf;
}
.animationModalBtn:active {
  background-color: #b0b0b0;
}

.animationModalCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: flex-start;
}
.animationModalCont.active {
  display: flex;
}
.animationModalCont.active .animationModalWrap {
  animation: scaleUp 0.3s linear;
}
.animationModalCont.closing {
  display: flex;
}
.animationModalCont.closing .animationModalWrap {
  animation: scaleDown 0.5s linear forwards;
}
.animationModalCont .animationModalWrap {
  background-color: #fff;
  width: 500px;
  margin-top: 48vh;
  transform: translateY(-50%);
  padding: 24px;
}
.animationModalCont .animationModalWrap .titleWrap {
  position: relative;
  padding-bottom: 16px;
}
.animationModalCont .animationModalWrap .closeBtn {
  position: absolute;
  background: transparent;
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
}
.animationModalCont .animationModalWrap .closeBtn .las::before {
  display: block;
  width: 16px;
  height: 16px;
}
.animationModalCont .animationModalWrap h6 {
  font-size: 24px;
}
.animationModalCont .animationModalWrap .contentText {
  padding-top: 24px;
}
.animationModalCont .animationModalWrap .checkboxWrap {
  display: flex;
  align-items: center;
  margin-top: 32px;
  gap: 8px;
}
.animationModalCont .animationModalWrap .checkboxWrap #neverWatch {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.animationModalCont .animationModalWrap .checkboxWrap .checkboxLabel {
  cursor: pointer;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.2) translateY(-50%);
    transform-origin: center;
    opacity: 0;
  }
  50% {
    transform: scale(0.5) translateY(-50%);
    transform-origin: center;
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translateY(-50%);
    transform-origin: center;
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(-50%);
    opacity: 1;
  }
  100% {
    transform: scale(0.2) translateY(-50%);
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */