html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
dl,
dt,
dd,
a,
blockquote,
pre,
button,
input {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

h1 {
    color: red;
}

.accordianType1 {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    .accordion {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        li {
            width: 100%;
            height: auto;
            position: relative;
            border-bottom: 1px solid #d8d8d8;
            a {
                position: relative;
                display: block;
                padding: 18px 48px 18px 18px;
                background-color: #f8f8f8;
                &::after {
                    content: '+';
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 20px;
                }
                &.active::after {
                    content: '-';
                }
            }
            .label {
                font-weight: 700;
            }
            .accordion-body {
                padding: 0 48px 20px 18px;
                color: #101314;
                background-color: #f8f8f8;
                display: none;
                &.active {
                    display: block;
                }
            }
            &.disabled {
                a {
                    cursor: not-allowed;
                }
            }
        }
    }
}
